<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendaki</title>
</head>
<body>
<header>
    <h1>Agendaki</h1>

    {% if user.is_authenticated %}
        <p>Logado como: {{ user.username }}</p>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Cadastro</a>
    {% endif %}
    <hr>
</header>

{% block content %}{% endblock %}
</body>
</html>
